.buttons {
  margin-left: 20px;
  margin-top: 20px;
}

.need {
  button {
    background-color: #243369;
  }
}

.language {
  @extend .need;
}

.insurance {
  @extend .need;
}
.submit {
  button {
    background-color: #456e87;
  }
}
