.container {
  width: 500px;
  margin-left: 30px;
  color: #425894;
}

.buttons {
  font-family: Helvetica;
}

.title {
  margin-left: 10px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
}
