.container {
  display: inline-block;
  flex-basis: 500px;
  padding: 30px;
  margin: 20px;
  color: white;
  background-color: #343a87;
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}

.container {
  div {
    min-width: 200px;
  }
}
